In [1]:
import baostock as bs
import akshare as ak
import pandas as pd

- 手续费：1.3e-4
- 印花税：0
- 滑点：0.01

In [10]:
lg = bs.login()

login success!

In [11]:
rs = bs.query_history_k_data_plus(
    "sh.600000",
    "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST",
    start_date='2024-07-01',
    end_date='2024-12-31',
    frequency="d",
    adjustflag="3")

In [14]:
rs = bs.query_history_k_data_plus(
    "sh.000300",
    "date,code,open,high,low,close,preclose,volume,amount,pctChg",
    start_date='2017-01-01',
    end_date='2017-06-30',
    frequency="d")

In [15]:
rs.get_data()

,date,code,open,high,low,close,preclose,volume,amount,pctChg
0,2017-01-03,sh.000300,3313.9530,3345.2630,3313.9530,3342.2270,3310.0800,8656789600,87612765768.0000,0.971200
1,2017-01-04,sh.000300,3340.5580,3369.5660,3338.1530,3368.3120,3342.2270,9005082700,98014355468.0000,0.780400
2,2017-01-05,sh.000300,3368.3400,3373.4120,3361.4620,3367.7890,3368.3110,8833635700,91189339582.0000,-0.015500
3,2017-01-06,sh.000300,3366.8520,3368.8710,3346.8910,3347.6670,3367.7890,8745911400,91072256748.0000,-0.597500
4,2017-01-09,sh.000300,3345.7480,3366.2220,3344.3470,3363.9010,3347.6660,8370794200,87916115243.0000,0.485000
...,...,...,...,...,...,...,...,...,...,...
114,2017-06-26,sh.000300,3627.0200,3671.9430,3627.0200,3668.0910,3622.8830,13463799552,170736840704.0000,1.247800
115,2017-06-27,sh.000300,3665.5770,3676.5320,3648.7630,3674.7150,3668.0910,9755870208,123057229824.0000,0.180600
116,2017-06-28,sh.000300,3664.1620,3672.1880,3644.0260,3646.1660,3674.7150,9792085760,124465946624.0000,-0.776900
117,2017-06-29,sh.000300,3649.2520,3669.1340,3644.7330,3668.8270,3646.1670,8558949888,111847268352.0000,0.621500
118,2017-06-30,sh.000300,3654.7340,3669.7580,3646.2270,3666.7970,3668.8280,8151002880,102459981824.0000,-0.055400

In [22]:
stock_zh_index_daily_df = ak.stock_zh_index_daily(symbol="sh000300")

In [23]:
stock_zh_index_daily_df

            date      open      high       low     close       volume
0     2002-01-04  1316.455  1316.455  1316.455  1316.455            0
1     2002-01-07  1302.084  1302.084  1302.084  1302.084            0
2     2002-01-08  1292.714  1292.714  1292.714  1292.714            0
3     2002-01-09  1272.645  1272.645  1272.645  1272.645            0
4     2002-01-10  1281.261  1281.261  1281.261  1281.261            0
...          ...       ...       ...       ...       ...          ...
5634  2025-03-28  3930.776  3934.234  3907.384  3915.166  12635621400
5635  2025-03-31  3905.982  3928.448  3872.403  3887.306  16679852300
5636  2025-04-01  3892.779  3905.262  3882.405  3887.684  14038027400
5637  2025-04-02  3884.418  3900.495  3877.160  3884.386  11304317500
5638  2025-04-03  3843.418  3883.703  3843.418  3861.503  14259978900

[5639 rows x 6 columns]

In [ ]:
bond_china_yield_df = ak.bond_china_yield(date="2020-02-04")